.card {
    border: 1px solid #CCCCCC;
    max-width: 90%;
    margin: 12px;
    /* padding: 12px; */
    /* padding-top: 90px; */

    /* background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9) ), url('/assets/images/froppy.jpg');
    background-size: cover;
    background-repeat:no-repeat; */
}

h2 {
    margin: 0px 0 4px 0;
    padding: 0;
}

.card-text {
    margin: 4px 0 4px 0;
    color: rgb(102, 102, 102);
    font-weight: 500;
}

.header-image {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content-wrapper {
    padding: 8px;
}

#special-text {
    font-weight: 600;
    font-size: 20;
    color: #7E838B;
}

.primary-btn {
    border: none;
    background-color: #0057D9;
    color: white;
    font-weight: 600;
    padding: 16px 24px 16px 24px;
    border-radius: 999px;
    font-size: 16px;
}

.primary-btn:hover {
    background-color: #2879f1;
}

.primary-btn:active {
    background-color: #679ff3;
}

.posts {
    height: 100%;
}

.screen {
    overflow-x: hidden;
}

#wrapper-a {
    overflow: hidden;
    flex-direction: column;
    height: 100%;
    text-align: center;
    padding: 0px 16px 0px 16px;
}

#wrapper-f {
    overflow: hidden;
    height: 100%;
}

.inspiration-img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
}

.choice-image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    transition: .2s ease-in-out;
}

.choice-image:hover {
    filter: contrast(120%);
}

.first:hover {
    transform: rotate(0.01turn) scale(1.1);
}

.second:hover {
    transform: rotate(-0.01turn) scale(1.1);
}

.third:hover {
    transform: rotate(0.01turn) scale(1.1);
}

.wrapper-choice-image {
    height: 33%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.choice-text {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 24px;
    padding: 0;
    margin: 0;
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    letter-spacing: 0.09rem;
    user-select: none;
}